<h1>User List Table</h1>
<button (click)="getSubscribeUserList(91251)">Load User1</button>
<button (click)="getSubscribeUserList(5638)">Load User2</button>
<button (click)="getSubscribeUserList(9125)">Load User3</button>
<button (click)="getSubscribeUserList(91252)">Load User4</button>

<ng-container *ngIf="showLoading | async">
  <div>Loading....</div>
</ng-container>

<ng-container *ngIf="userList">
  <table id="customers">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Address</th>
    </tr>
    <tr *ngFor="let user of userList">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.contactnumber}}</td>
      <td>{{user.address}}</td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="!!userListFailRes">
  <div >Something went wrong. Please try again later</div>
</ng-container>
